body {
	background-color: black;
}

h1 {
	text-align: center;
	color: silver;
	font-size: 80px;
}

.texto {
	font-family: Constantia;
	text-align: center;
	color: darkgrey;
	font-size: 70px;
	margin: 0px;
}

.botoes{
	text-align: center;
}

#botao_1 {
	font-family: Comic Sans MS;
	font-size: 60px;
	color: black;
	background-color: red;
	border-color: grey;
	border-radius: 15%;
	width: 400px;
	height: 100px;
}

#botao_2 {
	font-family: Comic Sans MS;
	font-size: 60px;
	color: black;
	background-color: blue;
	border-color: grey;
	border-radius: 15%;
	width: 400px;
	height: 100px;
}

#botao_3 {
	font-family: Comic Sans MS;
	font-size: 60px;
	color: black;
	background-color: green;
	border-color: grey;
	border-radius: 15%;
	width: 400px;
	height: 100px;
}

#botao_4 {
	font-family: Comic Sans MS;
	font-size: 60px;
	color: black;
	background-color: gold;
	border-color: grey;
	border-radius: 15%;
	width: 400px;
	height: 100px;
}

.tela {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 2030px;
	height: 1430px;
	border: 5px solid rgba(200,200,200,0.0);
	background: rgba(200,200,200,0.0);
}

.quadro {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 2000px;
	height: 1390px;
	border: 5px solid grey;
	background: black;
}

#conteudo-left {
	font-size: 28px;
	width: 10px;
	height: 1400px;
	float: left;
}

#conteudo-right {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 2000px;
	height: 1400px;
	float: right;
}

#footer {
	font-size: 28px;
	width: 2000px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.eixoy{
	color: grey;
	float: right;
	font-size: 28px;
	width: 10px;
	height: 1400px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.eixox{
	color: grey;
	font-size: 28px;
	width: 2030px;
	height: 290px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.y0{
	opacity: 0.0;
	position: relative;
	top: -260px;
}

.x0{
	position: relative;
	top: -260px;
}

.x1{
	position: relative;
	top: -260px;
}

.x2{
	position: relative;
	top: -260px;
}

.x3{
	position: relative;
	top: -260px;
}

.x4{
	position: relative;
	top: -260px;
}

.x5{
	position: relative;
	top: -260px;
}

.x6{
	position: relative;
	top: -260px;
}

.x7{
	position: relative;
	top: -260px;
}

.x8{
	position: relative;
	top: -260px;
}

.x9{
	position: relative;
	top: -260px;
}

.x10{
	position: relative;
	top: -260px;
}

.x11{
	position: relative;
	top: -260px;
}

.x12{
	position: relative;
	top: -260px;
}

.x13{
	position: relative;
	top: -260px;
}

.x14{
	position: relative;
	top: -260px;
}

.x15{
	position: relative;
	top: -260px;
}

.x16{
	position: relative;
	top: -260px;
}

.x17{
	position: relative;
	top: -260px;
}

.x18{
	position: relative;
	top: -260px;
}

.x19{
	position: relative;
	top: -260px;
}

.x20{
	position: relative;
	top: -260px;
}

.c1{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c2{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c3{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c4{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c5{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c6{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c7{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c8{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c9{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c10{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

.c11{
	position: relative;
    border-radius: 50%;
	opacity: 0.0;
	width: 20px;
	height: 20px;
}

@keyframes pulse1_c1 {
  0% {
	background: black;
  }
  1% {
	left: 990px;
	top: 586px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 990px;
	top: 586px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 990px;
	top: 586px;
  }
}

@keyframes pulse2_c1 {
  0% {
	background: black;
  }
   1% {
	left: 990px;
	top: 476px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 990px;
	top: 476px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 990px;
	top: 476px;
  }
}

@keyframes pulse3_c1 {
  0% {
	background: black;
  }
   1% {
	left: 990px;
	top: 644px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 990px;
	top: 644px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 990px;
	top: 644px;
  }
}

@keyframes pulse4_c1 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 732px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 732px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 732px;
  }
}

@keyframes pulse1_c2 {
  0% {
	background: black;
  }
  1% {
	left: 790px;
	top: 675px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 790px;
	top: 675px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 790px;
	top: 675px;
  }
}

@keyframes pulse2_c2 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 556px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 790px;
	top: 556px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 790px;
	top: 556px;
  }
}

@keyframes pulse3_c2 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 693px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 790px;
	top: 693px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 790px;
	top: 693px;
  }
}

@keyframes pulse4_c2 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 794px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 794px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 794px;
  }
}

@keyframes pulse1_c3 {
  0% {
	background: black;
  }
  1% {
	left: 1290px;
	top: 592px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 1290px;
	top: 592px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 1290px;
	top: 592px;
  }
}

@keyframes pulse2_c3 {
  0% {
	background: black;
  }
   1% {
	left: 1290px;
	top: 476px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 1290px;
	top: 476px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 1290px;
	top: 476px;
  }
}

@keyframes pulse3_c3 {
  0% {
	background: black;
  }
   1% {
	left: 1290px;
	top: 76px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 1290px;
	top: 76px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 1290px;
	top: 76px;
  }
}

@keyframes pulse4_c3 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 579px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 579px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 579px;
  }
}

@keyframes pulse1_c4 {
  0% {
	background: black;
  }
  1% {
	left: 890px;
	top: 449px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 890px;
	top: 449px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 890px;
	top: 449px;
  }
}

@keyframes pulse2_c4 {
  0% {
	background: black;
  }
   1% {
	left: 890px;
	top: 453px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 890px;
	top: 453px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 890px;
	top: 453px;
  }
}

@keyframes pulse3_c4 {
  0% {
	background: black;
  }
   1% {
	left: 890px;
	top: 619px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 890px;
	top: 619px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 890px;
	top: 619px;
  }
}

@keyframes pulse4_c4 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 446px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 446px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 446px;
  }
}

@keyframes pulse1_c5 {
  0% {
	background: black;
  }
  1% {
	left: 1090px;
	top: 477px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 1090px;
	top: 477px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 1090px;
	top: 477px;
  }
}

@keyframes pulse2_c5 {
  0% {
	background: black;
  }
   1% {
	left: 1090px;
	top: 384px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 1090px;
	top: 384px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 1090px;
	top: 384px;
  }
}

@keyframes pulse3_c5 {
  0% {
	background: black;
  }
   1% {
	left: 1090px;
	top: 529px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 1090px;
	top: 529px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 1090px;
	top: 529px;
  }
}

@keyframes pulse4_c5 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 463px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 463px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 463px;
  }
}

@keyframes pulse1_c6 {
  0% {
	background: black;
  }
  1% {
	left: 1390px;
	top: 294px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 1390px;
	top: 294px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 1390px;
	top: 294px;
  }
}

@keyframes pulse2_c6 {
  0% {
	background: black;
  }
   1% {
	left: 1390px;
	top: 480px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 1390px;
	top: 480px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 1390px;
	top: 480px;
  }
}

@keyframes pulse3_c6 {
  0% {
	background: black;
  }
   1% {
	left: 1390px;
	top: 406px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 1390px;
	top: 406px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 1390px;
	top: 406px;
  }
}

@keyframes pulse4_c6 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 586px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 586px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 586px;
  }
}

@keyframes pulse1_c7 {
  0% {
	background: black;
  }
  1% {
	left: 590px;
	top: 546px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 590px;
	top: 546px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 590px;
	top: 546px;
  }
}

@keyframes pulse2_c7 {
  0% {
	background: black;
  }
   1% {
	left: 590px;
	top: 657px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 590px;
	top: 657px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 590px;
	top: 657px;
  }
}

@keyframes pulse3_c7 {
  0% {
	background: black;
  }
   1% {
	left: 590px;
	top: 662px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 590px;
	top: 662px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 590px;
	top: 662px;
  }
}

@keyframes pulse4_c7 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 745px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 745px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 745px;
  }
}

@keyframes pulse1_c8 {
  0% {
	background: black;
  }
  1% {
	left: 390px;
	top: 824px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 390px;
	top: 824px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 390px;
	top: 824px;
  }
}

@keyframes pulse2_c8 {
  0% {
	background: black;
  }
   1% {
	left: 390px;
	top: 940px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 390px;
	top: 940px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 390px;
	top: 940px;
  }
}

@keyframes pulse3_c8 {
  0% {
	background: black;
  }
   1% {
	left: 390px;
	top: 711px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 390px;
	top: 711px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 390px;
	top: 711px;
  }
}

@keyframes pulse4_c8 {
  0% {
	background: black;
  }
   1% {
	left: 1890px;
	top: 0px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 1890px;
	top: 0px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 1890px;
	top: 0px;
  }
}

@keyframes pulse1_c9 {
  0% {
	background: black;
  }
  1% {
	left: 1190px;
	top: 146px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 1190px;
	top: 146px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 1190px;
	top: 146px;
  }
}

@keyframes pulse2_c9 {
  0% {
	background: black;
  }
   1% {
	left: 1190px;
	top: 317px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 1190px;
	top: 317px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 1190px;
	top: 317px;
  }
}

@keyframes pulse3_c9 {
  0% {
	background: black;
  }
   1% {
	left: 1190px;
	top: 415px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 1190px;
	top: 415px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 1190px;
	top: 415px;
  }
}

@keyframes pulse4_c9 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 674px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 674px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 674px;
  }
}

@keyframes pulse1_c10 {
  0% {
	background: black;
  }
  1% {
	left: 690px;
	top: 728px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 690px;
	top: 728px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 690px;
	top: 728px;
  }
}

@keyframes pulse2_c10 {
  0% {
	background: black;
  }
   1% {
	left: 690px;
	top: 484px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 690px;
	top: 484px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 690px;
	top: 484px;
  }
}

@keyframes pulse3_c10 {
  0% {
	background: black;
  }
   1% {
	left: 690px;
	top: 568px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 690px;
	top: 568px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 690px;
	top: 568px;
  }
}

@keyframes pulse4_c10 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 419px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 419px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 419px;
  }
}

@keyframes pulse1_c11 {
  0% {
	background: black;
  }
  1% {
	left: 490px;
	top: 622px;
  }
  2%{
	background: red;
	opacity: 1.0;
	left: 490px;
	top: 622px;
  }
  100%{
	background: red;
	opacity: 1.0;	
	left: 490px;
	top: 622px;
  }
}

@keyframes pulse2_c11 {
  0% {
	background: black;
  }
   1% {
	left: 490px;
	top: 716px;
  }
  2%{
	background: blue;
	opacity: 1.0;	
	left: 490px;
	top: 716px;
  }
  100%{
	background: blue;
	opacity: 1.0;	
	left: 490px;
	top: 716px;
  }
}

@keyframes pulse3_c11 {
  0% {
	background: black;
  }
   1% {
	left: 490px;
	top: 617px;
  }
  2%{
	background: green;
	opacity: 1.0;	
	left: 490px;
	top: 617px;
  }
  100%{
	background: green;
	opacity: 1.0;	
	left: 490px;
	top: 617px;
  }
}

@keyframes pulse4_c11 {
  0% {
	background: black;
  }
   1% {
	left: 790px;
	top: 501px;
  }
  2%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 501px;
  }
  100%{
	background: yellow;
	opacity: 1.0;	
	left: 790px;
	top: 501px;
  }
}